.container {
    padding: 0 286px;
    position: relative;
    background-color: #f0f0f0;
}
.container .content__list {
    display: flex;
    column-gap: 24px;
    position: relative;
    transform: translateY(-30%);
    .card {
        width: 404px;
        height: 358px;
        background-color: rgba(255, 255, 255, 0.68);
        backdrop-filter: blur(50px);
        border-radius: 12px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: start;

        .card__top--img {
            width: 96px;
            height: 96px;
        }
        .card__top--title {
            width: 249px;
            height: 38px;
            color: #323f4b;
            font-size: 26.25px;
            font-weight: 700;
            line-height: 37.5px;
            margin-top: 16px;
        }
        .card__top--description {
            margin-top: 16px;
            color: #52606d;
            font-weight: 500;
            line-height: 24px;
        }
        .card--btn {
            margin-top: 24px;
            padding: 12px 16px;
            background-color: #3164fa;
            color: #ffffff;
            font-weight: 500;
            border-radius: 12px;
        }
    }
}
